<div class="container mt-4 my-3 p-3 rounded shadow ts-shadow-surround-md">
    <div class="row">
        <div class="col mx-auto text-center">
            <div class="alert alert-success" role="alert">
                <strong>Check out our 2000+ AI tools directory <a class="btn btn-success" href="/ai-tools">Click Here</a></strong>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-6 mb-4">
            <a href="https://etsy.me/3GUkPIH"><img src="/assets/images/midjourney-prompts-tipseason.jpg"
                    alt="1600+ midjourney prompts free download" style="width:100%;"></a>
        </div>
    
        <div class="col-md-6 mb-4">
            <a href="https://etsy.me/3ljbdQ3"><img src="/assets/images/chatgpt-prompts-ai-tools-1000.jpg"
                    alt="chatgpt prompts and ai tools download" style="width:100%;"></a>
        </div>

    </div>    
</div>