<div class="container mt-4 my-3 p-3 rounded shadow ts-shadow-surround-md">
    <div class="row text-center">
        <div class="col-md-6 mb-4">
            <a href="https://etsy.me/3GUkPIH"><img src="/assets/images/midjourney-prompts-cover.jpg"
                    alt="1600+ midjourney prompts free download" style="width:100%;"></a>
        </div>
    
        <div class="col-md-6 mb-4">
            <a href="https://etsy.me/3y7CPKA"><img src="/assets/images/todo-list-printable-download.png"
                    alt="todo list printable download" style="width:100%;"></a>
        </div>
    </div>    
</div>