<div class="container mt-4 my-3 p-3 rounded shadow ts-shadow-surround-md">

    <div class="row text-center">
        <div class="col-md-6 mb-4">
            <a
                href="https://tipseason.gumroad.com/l/chatgpt-prompts-all?utm_source=tipseason_post&utm_medium=tipseason_post&utm_campaign=tipseason_post&utm_content=tipseason_post"><img
                    src="https://public-files.gumroad.com/r00ajc17lc79f2gv3s8kcfl7e98a"
                    alt="10,000+ ChatGPT prompts download and resell" style="width:100%;"></a>
        </div>

        <div class="col-md-6 mb-4">
            <a
                href="https://tipseason.gumroad.com/l/chatgpt-social-media-prompts?utm_source=tipseason_post&utm_medium=tipseason_post&utm_campaign=tipseason_post&utm_content=tipseason_post"><img
                    src="https://public-files.gumroad.com/ptkppn93jr1spq8q28hvuy1li95j"
                    alt="7500 chatgpt prompts for social media" style="width:100%;"></a>
        </div>

    </div>

    <div class="row">
        <div class="col mx-auto text-center">
            <div class="alert alert-success" role="alert">
                <strong>Check out our 2000+ AI tools directory <a class="btn btn-success" href="/ai-tools">Click
                        Here</a></strong>
            </div>
        </div>
    </div>

</div>