<div class="container mt-4 my-3 p-3 rounded shadow ts-shadow-surround-md">
    <div class="row justify-content-center">
        <h4 class="text-center" style="color:#055663 !important;">FREE 600+ ChatGPT Prompts, 200+ AI Tools list 👇</h4>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <a href="https://tipseason.beehiiv.com/?utm_source=tipseason_posts&utm_medium=tipseason_posts&utm_campaign=tipseason_posts">
                <img src="https://public-files.gumroad.com/pk6scahye7kbccsozagzfo0iube8"
                     alt="10,000+ ChatGPT prompts download and resell"
                     style="max-width:400px; width:100%; display: inline-block;">
            </a>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <iframe src="https://embeds.beehiiv.com/a45a3df8-4cb0-478a-bb88-6e7aaf2bc039?slim=true"
            data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no"
            style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
    </div>
</div>
