{% if page.promote %}
<hr>
We hope you like this post. If you have any questions or suggestions or need any other additional info, please comment below.
<br>
<br>
We have started a coding community for most frequently used real world coding tips. You can join us here
<br>
<a target="_blank" href="https://www.facebook.com/groups/tipseason"> TipSeason Facebook Group</a>
<br>
<a target="_blank" href="https://discord.gg/5t6hKNQZgV">TipSeason Discord channel</a>
<br>
As a bonus, here is a simple tech tip to increase your productivity.
<br>
<br>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">PostgreSQL and MySQL are the most used databases by many web development projects. In the previous tutorial we learnt about their syntax. Having a one page cheatsheet comparing each other is much more easier. Check one page cheatsheet: <a href="https://t.co/3F3xqXWhSW">https://t.co/3F3xqXWhSW</a><a href="https://twitter.com/hashtag/PostgreSQL?src=hash&amp;ref_src=twsrc%5Etfw">#PostgreSQL</a> <a href="https://twitter.com/hashtag/mysql?src=hash&amp;ref_src=twsrc%5Etfw">#mysql</a></p>&mdash; TipSeason (@thetipseason) <a href="https://twitter.com/thetipseason/status/1541309560828309504?ref_src=twsrc%5Etfw">June 27, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

What do you want to learn next ? Drop a comment below!
{% endif %}