{% if page.promote %}
<hr>
We hope you like this post. If you have any questions or suggestions or need any other additional info, please comment below.
<br>
<br>
We have started a coding community for most frequently used real world coding tips. You can join us here
<br>
<a target="_blank" href="https://www.facebook.com/groups/tipseason"> TipSeason Facebook Group</a>
<br>
<a target="_blank" href="https://discord.gg/5t6hKNQZgV">TipSeason Discord channel</a>
<br>
As a bonus, here is a simple tech tip to increase your productivity.
<br>
<br>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">ChatGpt + Midjourney = Ultimate combination of text to image. <br><br>50+ Chatgpt prompts for Midjourney - Generative AI art <a href="https://t.co/8lHmu0lGUz">https://t.co/8lHmu0lGUz</a></p>&mdash; TipSeason⚡💡 (@thetipseason) <a href="https://twitter.com/thetipseason/status/1627953343980244992?ref_src=twsrc%5Etfw">February 21, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

What do you want to learn next ? Drop a comment below!
{% endif %}