{% if page.promote %}
<hr>
We hope you like this post. If you have any questions or suggestions or need any other additional info, please comment below.
<br>
<br>
We have started a coding community for most frequently used real world coding tips. You can join us here
<br>
<a target="_blank" href="https://discord.gg/5t6hKNQZgV">TipSeason Discord channel</a>
<br>
<a target="_blank" href="https://www.facebook.com/groups/tipseason"> TipSeason Facebook Group</a>

<br>
<br>

<div class="alert alert-warning" role="alert">
    Signup to our Trending AI newsletter here
</div>

{% include mailchimp-ai.html %}

As a bonus, here is an amazing list of prompts for midjourney
<br>
<br>
<blockquote class="twitter-tweet"><p lang="fr" dir="ltr">1600+ Midjourney prompts + 1500 AI Art prompt keywords, 25 categories, logo, tshirt, coloring page, characters , AI art prompts, Digital art <a href="https://t.co/X4zMgNepnk">https://t.co/X4zMgNepnk</a> via <a href="https://twitter.com/Etsy?ref_src=twsrc%5Etfw">@Etsy</a></p>&mdash; TipSeason⚡💡 (@thetipseason) <a href="https://twitter.com/thetipseason/status/1645668195968364548?ref_src=twsrc%5Etfw">April 11, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
What do you want to learn next ? Drop a comment below!
{% endif %}