<div class="row justify-content-center mt-3" id="tipSeasonTodoList">

    <div class="text-center col-md-5 mt-3">
        <span class="border">
            <a href="https://tipseason.beehiiv.com/?utm_source=tipseason_shop&utm_medium=tipseason_shop&utm_campaign=tipseason_shop"><img src="https://public-files.gumroad.com/pk6scahye7kbccsozagzfo0iube8"
                    alt="600+ ChatGPT Prompts | 200 AI Tools" class="img-fluid"></a>
        </span>
    </div>

    <div class="text-center col-md-5 mt-3">
        <span class="border">
            <a href="https://tipseason.gumroad.com/l/ai-video-prompts?utm_source=tipseason_freetools&utm_medium=tipseason_freetools&utm_campaign=tipseason_freetools&utm_content=tipseason_freetools">
                <img src="https://public-files.gumroad.com/90fm0ncux0b0wpbknnejp0xnctfx" alt="todo list printable download"
                    class="img-fluid">
            </a>
        </span>
    </div>

</div>