<div class="row justify-content-center mt-3" id="tipSeasonTodoList">

    <div class="text-center col-md-5 mt-3">
                    <span class="border">
                        <a href="https://etsy.me/3y7CPKA">
                            <img src="/assets/images/todo-list-printable-download.png"
                                 alt="todo list printable download"
                                 class="img-fluid">
                        </a>
                    </span>
    </div>

    <div class="text-center col-md-5 mt-3">
                    <span class="border">
                       <a href="https://etsy.me/3ljbdQ3"><img src="/assets/images/chatgpt-prompts-ai-tools-1000.jpg"
                                                              alt="chatgpt prompts and ai tools download"
                                                              class="img-fluid"></a>
                    </span>
    </div>

</div>