
<div class="container mt-4 my-3 p-3 rounded shadow ts-shadow-surround-md">
    <h3 class="text-center mb-4 text-danger">Best Free AI tools to try now</h3>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/ai-prompt-generator""><h3 class="card-title pricing-card-title text-info">AI Art prompt generator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Create infinite prompts for AI art tools like Midjourney, DALLE-2, Gemini Image creator</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/ai-prompt-generator">Get Started</a>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/dalle-prompt-generator"><h3 class="card-title pricing-card-title  text-info">DALL·E prompt generator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Creative prompt helper to build unique art prompts for OpenAI DALLE AI art generation</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/dalle-prompt-generator">Get Started</a>
            </div>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/gemini-prompt-generator"><h3 class="card-title pricing-card-title  text-info">Gemini prompt generator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Prompt helper for creating best prompts for Google Gemini AI</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/gemini-prompt-generator">Get Started</a>
                
            </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/adobe-firefly-prompt-generator"><h3 class="card-title pricing-card-title  text-info">Adobe firefly prompt generator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>AI powered prompts for Adobe firefly to create stunning images from text</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/adobe-firefly-prompt-generator">Get Started</a>
            </div>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/leonardo-prompt-generator"><h3 class="card-title pricing-card-title  text-info">Leonardo prompt generator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Create best leonardo prompts with various keywords, topics, lighting, camera and more</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/leonardo-prompt-generator">Get Started</a>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/reading-time-calculator"><h3 class="card-title pricing-card-title  text-info">Reading time calculator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Estimate the time to read a blog post / any content. Includes word count, character count and more.</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/reading-time-calculator">Get Started</a>
            </div>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/time-difference-calculator"><h3 class="card-title pricing-card-title  text-info">Time difference calculator</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Calculate the duration between timestamps or dates with simple copy paste</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/leonardo-prompt-generator">Get Started</a>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Free</h5>
            </div>
            <div class="card-body">
                <a href="{{ site.baseurl }}/inr-crore-usd-converter"><h3 class="card-title pricing-card-title  text-info">INR crore to USD converter</h3></a>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Indian (INR) crore to US dollar (USD) converter for easy currency estimation</li>
                </ul>
                <a type="button" class="btn btn-lg btn-primary" href="{{ site.baseurl }}/inr-crore-usd-converter">Get Started</a>
            </div>
            </div>
        </div>

    </div>

</div>