---
layout: codepost
title:  ">>>postTitle<<<"
author: Pramod
categories: [ Coding, Interviews ]
tags: [ Coding, Interviews ]
toc: true
featured: true
hidden: true
rating: 5
---

{% include_relative question/>>>questionFileName<<<%}
<hr>
<b>Solution:<b>
```java
{% include_relative solutions/java/>>>solutionFileName<<<%}
```
