
.bg-banner{
    /*background-color: #f7f8ff!important;*/
    background-color: #009688 !important;

    /*background-color: #17a2b8!important;*/
}


.bg-white {
    /*background-color: #f7f8ff!important;*/
    background-color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.code-post p {
    margin: 0 0 1rem 0;
}

.code-block-singleline {
  font-family: monospace;
  background-color: #e9ecef;
  margin: 0px;
  padding:4px;
  border-radius: 4px;
  overflow: auto;
  width: 50%;
}

.code-block-multiline {
  font-family: monospace;
  background-color: #e9ecef;
  margin: 20px;
  padding:4px;
  border-radius: 4px;
  width: 50%;
}

.code-post {
    /*font-family: 'Oxygen', serif;*/
    /*font-size: 1.3rem;*/
    font-family: merriweather,"pt serif",Georgia,times new roman,serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 1);
}