
.bg-banner{
    /*background-color: #f7f8ff!important;*/
    background-color: #009688 !important;

    /*background-color: #17a2b8!important;*/
}


.bg-white {
    /*background-color: #f7f8ff!important;*/
    background-color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}
