---
title: "Adobe firefly prompt generator free"
layout: default
permalink: "/adobe-firefly-prompt-generator.html"
disqus: false
archive: false
---

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>AI Art Generation Prompts</title>-->
<!--    &lt;!&ndash; Add Twitter Bootstrap CSS &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->

<style>
    body {
<!--        background-color: #fbfff9;-->
<!--        background-color: #c7ffe8;-->
<!--        background-image: radial-gradient(#373fed 0px, #f7fffe 0px);-->
<!--        background-size: 10px 10px;-->
    }


</style>

<body>
<h1 class="text-center mb-4">Adobe firefly prompt generator - Free</h1>
<h4 class="text-center mb-4">AI powered prompts for Adobe firefly to create stunning images from text</h4>
<div class="container mt-4 my-3 p-3 bg-body rounded shadow ">
    <form id="promptForm">
        <div class="mb-3">
            <label for="concept" class="form-label">Concept:</label>
            <textarea class="form-control ts-border-surround border-info" id="concept" name="concept" rows="3"
                      placeholder="Enter the concept to generate prompts... Example: Logo design" required></textarea>
<!--            <input type="text" class="form-control" id="concept" name="concept" required>-->
        </div>
        <div class="mb-3">
            <label for="promptCount" class="form-label">Prompt Count:</label>
            <input type="number" class="form-control" id="promptCount" name="promptCount" placeholder="Number of prompts" max="10" required>
        </div>
        <button type="submit" class="btn btn-primary">Generate Prompts</button>
        <img src="/assets/images/tipseason-loading.gif" style="display:none;" id="loading">
    </form>

    <!-- Display the generated prompts here -->
    <div id="outputContainer" class="mt-4"></div>

    <!-- HTML template for the prompt card -->
    <div class="card shadow-sm template-card d-none mt-1">
        <div class="card-body">
            <div class="row align-items-center mb-3">
                <div class="col-md-9">
                    <h5 class="card-title">Prompt</h5>
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn btn-secondary btn-sm copy-button">Copy <i class="fa fa-copy ml-1"></i></button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <p class="card-text prompt-text"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-wrap keyword-tags"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- The rest of your HTML content -->


</div>

{% include beehiiv.html %}

{% include advertise.html %}

{% include tools.html %}

<div class="row justify-content-center m-3" id="subscribe">
    <iframe src="https://tipseason.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
</div>

<div class="accordion container mt-4 my-3 p-3 bg-body rounded shadow" id="faqAccordion">
    <!-- FAQ 1 -->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    What is Adobe Firefly Prompt Generator Free?
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
            <div class="card-body">
                Adobe Firefly Prompt Generator Free is a tool powered by artificial intelligence that allows users to generate image prompts for Adobe Firefly at no cost. Users can enter a concept and the desired count of prompts, and the tool will generate AI-powered prompts based on that concept.
            </div>
        </div>
    </div>

    <!-- FAQ 2 -->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                    What is Adobe Firefly?
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
            <div class="card-body">
                Adobe Firefly is a text-to-image creation tool. With simple text prompts in over 100 languages, you can generate images, add or remove objects, transform text, and so much more. Learn more <a href="https://www.adobe.com/products/firefly.html">here</a>.
            </div>
        </div>
    </div>

    <!-- FAQ 3 -->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">
                    Is there a guide to create the best Adobe Firefly prompts with examples?
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
            <div class="card-body">
                Yes, here is the <a href="https://tipseason.com/adobe-firefly-prompts/">guide</a> to create the best Adobe Firefly prompts with examples.
            </div>
        </div>
    </div>


</div>

<!-- Add jQuery and Bootstrap's JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Add custom script to handle form submission and API response -->
<script>
        $(document).ready(function () {
            // Function to handle form submission
            $("#promptForm").submit(function (event) {
                event.preventDefault();
                $("#loading").show();
                const promptCount = $("#promptCount").val();
                const concept = $("#concept").val();
                // Call your backend API with the promptCount and concept as parameters
                // Replace "YOUR_API_ENDPOINT" with the actual API endpoint
                // const apiUrl = `YOUR_API_ENDPOINT?promptCount=${promptCount}&concept=${concept}`;
                const apiUrl = `https://aiart.manigopalmurthy.workers.dev/prompts?count=${promptCount}&concept=${concept}`;
                // const apiUrl = `https://127.0.0.1:63553/prompts?count=${promptCount}&concept=${concept}`;

                $.ajax({
                    url: apiUrl,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        // Process the API response here and display the prompts
                        displayPrompts(data);
                    },
                    error: function (error) {
                        console.error("Error fetching prompts:", error);
                    }
                });
            });



            function getRandomBadgeColorClass() {
                const colors = ["primary", "secondary", "success", "danger", "warning", "info"];
                return "badge badge-" + colors[Math.floor(Math.random() * colors.length)];
            }

            function displayPrompts(data) {
                const outputContainer = $("#outputContainer");
                outputContainer.empty();

                if (data && data.candidates && data.candidates.length > 0) {
                  const candidatesJsonString = data.candidates[0].content.parts[0].text;
                  const candidates = JSON.parse(candidatesJsonString.trim());
                  console.log(candidates);

                  const templateCard = $(".template-card").clone().removeClass("template-card d-none");
                  candidates.forEach(function (candidate) {
                    
                    const promptText = candidate.prompt;
                    const keywords = candidate.keywords;

                    const promptCard = templateCard.clone();
                    const cardBody = promptCard.find(".card-body");

                    // Update prompt text
                    cardBody.find(".prompt-text").text(promptText);

                    // Add keyword tags
                    const tagsContainer = cardBody.find(".keyword-tags");
                    tagsContainer.empty();
                    keywords.forEach(function (keyword) {
                      const tag = $("<span>").addClass(getRandomBadgeColorClass() + " m-1").text(keyword);
                      tagsContainer.append(tag);
                    });

                    // Copy to Clipboard button click event
                    const copyButton = cardBody.find(".copy-button");
                    copyButton.click(function () {
                      copyToClipboard(promptText);
                    });

                    outputContainer.append(promptCard);
                  });
                } else {
                  outputContainer.text("No prompts found.");
                }

                $("#loading").hide();
              }

            function copyToClipboard(text) {
                const tempInput = $("<input>");
                $("body").append(tempInput);
                tempInput.val(text).select();
                document.execCommand("copy");
                tempInput.remove();
                alert("Prompt copied to clipboard!");
            }

            // Function to display the prompts and keywords
            function displayPrompts1(data) {
              const outputContainer = $("#outputContainer");
              outputContainer.empty();

              if (data && data.candidates && data.candidates.length > 0) {
                const candidates = JSON.parse(data.candidates[0].output);
                const promptList = $("<ul>");

                candidates.forEach(function (candidate) {
                  const prompt = candidate.prompt;
                  const keywords = candidate.keywords;

                  const listItem = $("<li>").text(`Prompt: ${prompt}, Keywords: ${keywords}`);
                  promptList.append(listItem);
                });

                outputContainer.append(promptList);
              } else {
                outputContainer.text("No prompts found.");
              }
            }


        });
    </script>
</body>

</html>
