---
title: "DALLE Prompt generator - Create best ai image prompts with bing image creator"
layout: default
permalink: "/dalle-prompt-generator.html"
disqus: false
archive: false
---
<script>

    var outputArray = []; // Global output array for selected button values
    var styleArray = ["Abstract", "Impressionism", "Surrealism", "Realism", "Expressionism"];
    var lightingArray = ["Soft lighting", "Hard lighting", "Natural lighting", "Artificial lighting"];

    $(document).ready(function () {

        $('#buttonTabs').tab();


        // Get references to the input and output elements
        var $userPrompt = $('#userPrompt');
        var $outputPrompt = $('#outputPrompt');

        // Attach an event listener to the input element
        $userPrompt.on('input', function () {
            // Get the user's input
            var input = $userPrompt.val();

            // Update the output element with the input
            $outputPrompt.text(input);
        });

        styleButtons();

        // Attach the handleButtonClick function to all buttons within the buttonList div
        $('#buttonList').on('click', 'button', handleButtonClick);

    });

    function styleButtons() {
        $('#inputStyle').click(function () {
            var buttons = ['Button 1', 'Button 2', 'Button 3', 'Button 4', 'Button 5']; // Array of button values
            var html = ''; // String to hold the HTML for the buttons

            // Loop through the button values and create a button element for each one
            for (var i = 0; i < buttons.length; i++) {
                html += '<button type="button" class="btn btn-success m-1" data-value="' + buttons[i] + '">'
                    + buttons[i] + '</button>';
            }

            // Set the HTML of the buttonList div to the button elements
            $('#styleButtons').html(html);

            // Show the buttonList div
            $('#styleButtons').show();
        });
    }


    // Function to handle button clicks
    function handleButtonClick() {
        var button = $(this);
        var value = button.data('value');

        // Toggle the "active" class on the button to select/unselect it
        button.toggleClass('active');

        // If the button is selected, add its value to the output array
        if (button.hasClass('active')) {
            outputArray.push(value);
            $(this).addClass("btn-danger").html(`${value} <i class="fa fa-check"></i>`);
        }
        // If the button is unselected, remove its value from the output array
        else {
            outputArray = outputArray.filter(function (item) {
                return item !== value;
            });
            $(this).removeClass("btn-danger").html(`${value}`);
        }

        // Log the current state of the output array
        console.log(outputArray);

        // Get the output string with comma separated values and include userPrompt value
        var userPromptValue = $('#userPrompt').val().trim();
        var outputString = userPromptValue + (userPromptValue && outputArray.length ? ', ' : '') + outputArray.join(', ');

        // var outputString = outputArray.join(', ');
        $('#outputPrompt').text(outputString);

    }

</script>

<style>
    body {
        background-color: #c7ffe8;
        background-image: radial-gradient(#373fed 0.5px, #f5fffe 0.5px);
        background-size: 10px 10px;
    }


</style>

<!--<div class="row listrecent d-flex align-items-center justify-content-center">-->
<div class="container">
    <div class="row">
        <div class="col text-center text-danger">
            <h2>Dalle Prompt generator</h2>
        </div>
    </div>

    <div class="row justify-content-center m-3">
        <div class="col-md-8">
            <div class="d-flex justify-content-between shadow rounded p-3 bg-white align-items-center">
                <div class="text-black rounded p-2 overflow-y-auto scrollbar">
                    <!--                    <span class="badge badge-secondary p-2">/imagine: </span>-->

                    <div id="outputPrompt"></div>
                </div>
                <button class="btn btn-primary d-flex align-items-center" id="copyButton">
                    Copy
                </button>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-8 mx-auto text-center ">
            <textarea class="form-control border-info" id="userPrompt" rows="2"
                      placeholder="Start typing your main idea here..."></textarea>
        </div>
    </div>

    <div class="row justify-content-center m-3">
        <div class="col-md-8 mx-auto text-center ">
            <button type="button" class="btn btn-info m-1" id="inputStyle">Styles</button>
            <button type="button" class="btn btn-info m-1" id="inputLighting">Lighting</button>
            <button type="button" class="btn btn-info m-1" id="inputArtist">Artist</button>
            <button type="button" class="btn btn-info m-1" id="inputCamera">Camera</button>
            <button type="button" class="btn btn-info m-1" id="inputColors">Colors</button>
            <button type="button" class="btn btn-info m-1" id="inputMaterials">Materials</button>
        </div>
    </div>

    <div class="row justify-content-center m-3" id="buttonList" style="display: none;">
        <div class="col-md-10 mx-auto text-center ">

            <!--<div id="styleSection" class="section d-none"></div>
            <div id="lightingSection" class="section d-none"></div>
            <div id="artistSection" class="section d-none"></div>
            <div id="cameraSection" class="section d-none"></div>
            <div id="colorsSection" class="section d-none"></div>
            <div id="materialsSection" class="section d-none"></div>
            <div id="aspectRatioSection" class="section d-none"></div>
-->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="buttonTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="style-tab" data-toggle="tab" href="#styleButtons" role="tab"
                       aria-controls="styleButtons" aria-selected="true">Styles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lighting-tab" data-toggle="tab" href="#lightingButtons" role="tab"
                       aria-controls="lightingButtons" aria-selected="false">Lighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="artist-tab" data-toggle="tab" href="#artistButtons" role="tab"
                       aria-controls="artistButtons" aria-selected="false">Artists</a>
                </li>
                <!-- add more tabs here -->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="styleButtons" role="tabpanel" aria-labelledby="style-tab">
                    <!-- Add style buttons here -->
                </div>
                <div class="tab-pane fade" id="lightingButtons" role="tabpanel" aria-labelledby="lighting-tab">
                    <!-- Add lighting buttons here -->
                </div>
                <div class="tab-pane fade" id="artistButtons" role="tabpanel" aria-labelledby="artist-tab">
                    <!-- Add artist buttons here -->
                </div>
                <!-- add more tab panes here -->
            </div>


        </div>
    </div>


</div>


