---
title: "Indian (INR) crore to US dollar (USD) converter"
layout: default
permalink: "/inr-crore-usd-converter.html"
disqus: false
archive: false
---

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 border p-4 border rounded bg-light ">
            <h4 class="text-center text-info mb-2">Indian (INR) crore to US dollar (USD) converter</h4>
            <h6 class="text-center mb-4">INR crore to USD converter</h6>
            <hr>
            <form>
                <div class="form-group row">
                    <label for="croreInput" class="col-sm-4 col-form-label">Number of Crores (INR): </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="croreInput"
                            placeholder="Enter crores in Indian Rupees">
                        <!-- <small id="startTimeHelp" class="form-text text-muted text-left">Eg: 1</small> -->
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-3" id="resultHolder">
        <div class="col-md-6 border p-4 border rounded bg-light ">
            <h4 class="text-center text-success mb-4"><strong>Converted Amount</strong></h4>
            <div class="text-center" id="results">
                <p id="usdAmount"></p>
                <p id="usdAmountMillions"></p>
                <p id="conversion" class="text text-danger"></p>
            </div>
        </div>
    </div>

    <script src="/assets/js/inrcroretousd.js"></script>

    {% include beehiiv.html %}

    {% include advertise.html %}
    
    <!-- <div class="row justify-content-center mt-5">
        {% include shop.html %}
    </div> -->

    <div class="row justify-content-center mt-3">
        <h4 class="col-md-6 border p-4 border rounded bg-light"><strong>Related searches</strong></h4>

        <ol>
            <li>How do I convert crore INR to USD?</li>
            <li>Is there a reliable calculator for crore INR to US dollars?</li>
            <li>What is the conversion factor from crore to million?</li>
            <li>How many million dollars is equivalent to one crore?</li>
            <li>Can you provide the conversion rate from crore to million dollars?</li>
            <li>What is the value of one crore in million dollars?</li>
            <li>How is an Indian crore converted to million?</li>
            <li>Is there a specific formula for converting Indian crores to million?</li>
            <li>What is the process for converting an Indian crore to US dollars?</li>
        </ol>
    </div>


</div>