---
layout: default
---
<head>
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">-->
    <!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>-->

</head>


<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>


        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!--                &lt;!&ndash; Post Title &ndash;&gt;-->
                <!--                <h1 class="posttitle">{{ page.title }}</h1>-->

                <!-- Author Box -->
                {% if page.author %}
                <div class="row post-top-meta">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}"
                             alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb"
                             src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x"
                             alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                        <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a
                            target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                        <div class="author-description">{{ author.description }}</div>
                    </div>
                </div>
                {% endif %}

                Stay ahead of others with these little handpicked interesting tips.
            </div>

            <div class="article-post text-center">

                <div class="card text-center ">
                    <div class="card-header">
                        {{page.tiptype | capitalize}} Tip # {{page.tipid}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{page.tiptitle}}</h5>
                        <p class="card-text">{{page.tipcontent}}</p>
                        <!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>

                    <div class="card-footer text-muted">

                        <div>
                            <a href="{{site.baseurl}}{{page.previous.url}}">
                                <span class="round"><i class="fa fa-chevron-left"></i></span>
                                <span class="txt">Previous</span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{site.baseurl}}{{page.next.url}}">
                                <span class="txt">Next</span>
                                <span class="round"><i class="fa fa-chevron-right"></i></span>
                            </a>
                        </div>


                    </div>


                </div>




            </div>

            {% include propellerads.html %}


        </div>

    </div>

</div>


